//Vendor
@import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Components
@import "./components/_components-dir";

//Layout
@import "./layouts/_layouts-dir";

// Test fontawesome icons

.user {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-user);
  }
}
