//Vendor
@import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Components
@import "./components/_components-dir";

//Layout
@import "./layouts/_layouts-dir";

// Test fontawesome icons

.search {
  width: 10rem;
  @extend %fa-icon;
  @extend .fas;
  border: gainsboro 1px solid;
  background-color: whitesmoke;
  border-radius: 3px;
  opacity: 0.5;
  &::placeholder {
    text-align: center;
  }
  &:before {
    content: fa-content($fa-var-search);
  }
}
.home {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-home);
  }
}
.message {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-paper-plane);
  }
}
.compass {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-compass);
  }
}
.heart {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-heart);
  }
}
.check {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-check-circle);
  }
}
.menu {
  width: 80vw;
  height: 5vh;
  nav {
    border-top: black 1px solid;
    width: 80vw;
    height: 5vh;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
  }
  ul {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    .avatar {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.header {
  width: 80vw;
  height: 30vh;
  padding-top: 1rem;
  border-top: gainsboro 1px solid;
  background-color: whitesmoke;
  & > div {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
  }
  .user {
    --b: 3px; /* border width*/

    color: #313149;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    position: relative;

    z-index: 0;

    &:after {
      content: "";
      display: inline-block;
      padding-top: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--c, linear-gradient(to top, orange, #9c20aa));
      transform: rotate(30deg);
      padding: var(--b);
      border-radius: 50%;
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
    .profile {
      width: 7.2rem;
      height: 7.2rem;
      position: relative;
      border-radius: 50%;
      bottom: 0.4rem;
      left: 0.43rem;
    }
  }
  .user-area {
    display: flex;
  }
}
