//Vendor
@import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Components
@import "./components/_components-dir";

//Layout
@import "./layouts/_layouts-dir";

// Test fontawesome icons

.search {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-search);
  }
}
.home {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-home);
  }
}
.message {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-paper-plane);
  }
}
.compass {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-compass);
  }
}
.heart {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-heart);
  }
}
