//Vendor
@import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Components
@import "./components/_components-dir";

//Layout
@import "./layouts/_layouts-dir";

// Test fontawesome icons

.logo {
  font-family: $lobster;
  font-size: larger;
  opacity: 0.7;
  cursor: pointer;
}
.search {
  width: 12rem;
  height: 1.3rem;
  @extend %fa-icon;
  @extend .fas;
  border: gainsboro 1px solid;
  background-color: whitesmoke;
  border-radius: 3px;
  opacity: 0.5;
  &::placeholder {
    text-align: center;
  }
  &:before {
    content: fa-content($fa-var-search);
  }
}
.home {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-home);
  }
}
.message {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-paper-plane);
  }
}
.compass {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-compass);
  }
}
.heart {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-heart);
  }
}
.check {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-check-circle);
  }
}
.menu {
  width: 80vw;
  height: 5vh;
  nav {
    border-top: black 1px solid;
    width: 80vw;
    height: 5vh;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
  }
  ul {
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    opacity: 0.7;
    cursor: pointer;
    .avatar {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.header {
  width: 80vw;
  height: 30vh;
  padding-top: 2rem;
  border-top: gainsboro 1px solid;
  background-color: whitesmoke;
  > div {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  .user {
    --b: 3px; /* border width*/
    color: #313149;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    position: relative;
    z-index: 0;

    &:after {
      content: "";
      display: inline-block;
      padding-top: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--c, linear-gradient(to top, orange, #9c20aa));
      transform: rotate(30deg);
      padding: var(--b);
      border-radius: 50%;
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
    .profile {
      width: 7.2rem;
      height: 7.2rem;
      position: relative;
      border-radius: 50%;
      bottom: 0.4rem;
      left: 0.43rem;
      cursor: pointer;
    }
  }
  .user-area {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1em;
    cursor: pointer;
    h3 {
      i {
        color: rgb(59, 175, 248);
      }
    }
    button {
      font-size: 10px;
      font-weight: bold;
      color: white;
      background-color: rgb(59, 175, 248);
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
    :nth-child(2) {
      width: 3rem;
      height: 1.2rem;
    }
    :nth-child(3) {
      font-weight: lighter;
      width: 1.5rem;
      height: 1.2rem;
    }
    .more {
      font-weight: bold;
    }
  }
  .content {
    span {
      padding-right: 1.3em;
      font-variant: small-caps;
    }
  }
  p {
    padding-top: 1em;
  }
  .owner {
    font-weight: bold;
  }
  .infos {
    color: rgb(6, 155, 248);
  }
  .followers {
    width: 40vw;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bts {
    width: 4rem;
    height: 4rem;
    margin-right: 2em;
    padding: 2px;
    background-color: white;
    border: gainsboro 2px solid;
    border-radius: 50%;
    cursor: pointer;
  }
}

.gallery {
  width: 80vw;
  height: auto;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;

  .top {
    width: 80%;
    height: 5vh;
    // padding: 1em 0 1em 0;
    border-top: gainsboro 1px solid;
    display: flex;
    justify-content: space-evenly;
    :first-child {
      border-top: grey 2px solid;
    }
    span {
      padding: 1em 0 1em 0;
    }
    .th {
      @extend %fa-icon;
      @extend .fas;
      border: none;
      margin-right: 0.5em;
      color: gray;
      &:before {
        content: fa-content($fa-var-th);
      }
    }
    .calendar {
      @extend %fa-icon;
      @extend .fas;
      border: none;
      margin-right: 0.5em;
      color: gray;
      &:before {
        content: fa-content($fa-var-calendar);
      }
    }
    .caret {
      @extend %fa-icon;
      @extend .fas;
      border: none;
      margin-right: 0.5em;
      color: rgb(56, 55, 55);
      position: relative;
      top: 0.15em;
      right: 1.05em;
      background-attachment: fixed;
      &:before {
        content: fa-content($fa-var-caret-right);
      }
    }
    .tv {
      @extend %fa-icon;
      @extend .fas;
      border: none;
      margin-right: 0.5em;
      color: gray;
      &:before {
        content: fa-content($fa-var-tv);
      }
    }

    .idbadge {
      @extend %fa-icon;
      @extend .fas;
      border: none;
      margin-right: 0.5em;
      color: gray;
      &:before {
        content: fa-content($fa-var-id-badge);
      }
    }
  }
}
.set-image {
  width: 24rem;
  height: 24rem;
  margin: 1em;
}
