//Vendor
@import "./vendor/_vendor-dir";

//Abstracts
@import "./abstracts/_abstracts-dir";

//Base Styles
@import "./base/_base-dir";

//Components
@import "./components/_components-dir";

//Layout
@import "./layouts/_layouts-dir";

// Test fontawesome icons

.search {
  width: 7rem;
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-search);
  }
}
.home {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-home);
  }
}
.message {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-paper-plane);
  }
}
.compass {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-compass);
  }
}
.heart {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-heart);
  }
}
.check {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-check-circle);
  }
}
.menu {
  nav {
    border-top: black 1px solid;
    width: 80vw;
    height: 10vh;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
  }
  ul {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    .avatar {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.header {
  width: 80vw;
  height: 30vh;
  & > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .user-area {
    display: flex;
  }
}
